{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>
    {{ .Title }}
    {{- if and (or (eq .Kind `term`) (eq .Kind `section`)) (.Param "ShowRssButtonInSectionTermList") }}
    {{- with .OutputFormats.Get "rss" }}
    <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
    {{- end }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}

{{- if .IsHome }}
<div class="our-switches">
  <div class="toggle-container">
    <button id="toggleTitluri">Doar Titluri</button>
  </div>
  <div class="search-container">
    <input id="searchBar" type="text" placeholder="Cauta declaratii..." />
  </div>
  <div class="insta-link">
    <a href="https://www.instagram.com/ceazisgeorgescu" target="_blank" rel="noopener noreferrer" title="Instagram">
      {{ partial "svg.html" (dict "name" "Instagram" "url" "https://www.instagram.com/ceazisgeorgescu" "title" "Instagram") }}
    </a>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
  const toggleButton = document.getElementById("toggleTitluri");
  const articles = document.querySelectorAll("article");
  const searchBar = document.getElementById("searchBar");

  searchBar.addEventListener("input", function () {
    const query = searchBar.value.toLowerCase();

    articles.forEach((article) => {
      const title = article.querySelector("h2").textContent.toLowerCase();
      const summary = article.querySelector(".entry-content")
        ? article.querySelector(".entry-content").textContent.toLowerCase()
        : "";

      // Show article if title or summary matches query
      if (title.includes(query) || summary.includes(query)) {
        article.style.display = "";
      } else {
        article.style.display = "none";
      }
    });
  });

  toggleButton.addEventListener("click", function () {
    // Toggle the button state
    toggleButton.classList.toggle("toggled");

    // Toggle visibility for each article's elements
    articles.forEach((article) => {
      const summary = article.querySelector(".entry-content");
      const copyButton = article.querySelector(".copy-btn");
      const postDate = article.querySelector(".entry-footer");
      const clickForMore = article.querySelector(".card-label");
      article.classList.toggle("toggled");


      if (summary) {
        summary.style.display =
          summary.style.display === "none" ? "block" : "none";
      }

      if (copyButton) {
        copyButton.style.display =
          copyButton.style.display === "none" ? "block" : "none";
      }

      if (postDate) {
        postDate.style.display =
          postDate.style.display === "none" ? "block" : "none";
      }

      if (clickForMore) {
      // Toggle the 'toggled' class for the "Click for more" label
      clickForMore.classList.toggle("toggled");
      if (clickForMore.classList.contains("toggled")) {
        clickForMore.textContent = "Click";
      } else {
        clickForMore.textContent = "Click for more";
      }
      }
    });
  });
});

</script>

{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true"  }}
{{- end }}

{{- $paginator := .Paginate $pages }}

{{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
{{- partial "home_info.html" . }}
{{- end }}

{{- $term := .Data.Term }}
{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}

{{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
{{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
{{- $class = "first-entry" }}
{{- else if $term }}
{{- $class = "post-entry tag-entry" }}
{{- end }}

<article class="{{ $class }}">
  {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}
  <div class="card-label">Click for more</div>
  <header class="entry-header">
    <h2 class="entry-hint-parent">
      {{- .Title }}
      {{- if .Draft }}
      <span class="entry-hint" title="Draft">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" fill="currentColor">
          <path
            d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
        </svg>
      </span>
      {{- end }}
    </h2>
  </header>
  {{- if (ne (.Param "hideSummary") true) }}
  <div class="entry-content">
    {{ .Summary}}
    <!--<p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>-->
  </div>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}
  </footer>
  {{- end }}
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  <button class="copy-btn" onclick="copyToClipboard(this)">Copy Text</button>
  <script>
    function copyToClipboard(button) {
      // Get the closest article element
      const article = button.closest('article');
      // Get the post summary (content)
      const summary = article.querySelector('.entry-content').innerText;
      // Append the link to the summary
      const postLink = article.querySelector('.entry-link').href;
      const textToCopy = summary + "\n" + "Read more here: " + postLink;
  
      // Create a temporary text area to copy the text
      const textArea = document.createElement('textarea');
      textArea.value = textToCopy;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand('copy');
      document.body.removeChild(textArea);
      // button animation
      button.classList.add('clicked');
      setTimeout(() => {
      button.classList.remove('clicked');
    }, 3000);
    }
  </script>
  
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">
      «&nbsp;{{ i18n "prev_page" }}&nbsp;
      {{- if (.Param "ShowPageNums") }}
      {{- sub $paginator.PageNumber 1 }}/{{ $paginator.TotalPages }}
      {{- end }}
    </a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">
      {{- i18n "next_page" }}&nbsp;
      {{- if (.Param "ShowPageNums") }}
      {{- add 1 $paginator.PageNumber }}/{{ $paginator.TotalPages }}
      {{- end }}&nbsp;»
    </a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
